/* ===== GENERAL ===== */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f4f7;
}

.container {
    width: 90%;
    max-width: 1150px;
    margin: auto;
}

/* ===== HEADER ===== */
header {
    background: #e3d0d0;
    padding: 15px 0;
}

.logo {
    color: white;
    font-size: 24px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

/* ===== BANNER ===== */
.promo-banner {
    background: linear-gradient(90deg, #ff9600, #ff4800);
    padding: 40px 20px;
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

.promo-banner h2 {
    margin: 0;
    font-size: 32px;
}

.promo-btn {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 18px;
    background: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* ===== PRODUCT DETAILS ===== */
.product-detail {
    background: white;
    padding: 30px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

/* IMAGE */
.product-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* INFO */
.selo-beneficios {
    background: #e9f1ff;
    border-left: 5px solid #3c7bff;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.product-title {
    font-size: 26px;
    margin-bottom: 8px;
}

.product-category {
    font-size: 14px;
    color: #666;
}

.product-price {
    margin: 20px 0;
}

.current-price {
    font-size: 32px;
    font-weight: bold;
    color: #222;
}

.discount {
    margin-left: 10px;
    background: #ff4800;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

/* QUANTITY */
.qty-label {
    margin-top: 20px;
    display: block;
}

.qty-select {
    padding: 10px;
    width: 120px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

/* BUTTONS */
.buy-now-btn {
    width: 100%;
    background: #ff6600;
    color: white;
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    width: 100%;
    background: #1a73e8;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 30px;
}

/* DESCRIPTION */
.product-description {
    line-height: 1.6;
    color: #444;
}

/* FEATURES */
.product-features ul {
    margin: 10px 0;
}
